/* profile pic  */
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
  }
  
  .file-upload {
    display: none;
  }
  
  .circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    // position: absolute;
    // top: 72px;
    background-color: orange;
    float: left;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .p-image {
    position: absolute;
    top: 115px;
    left: 100px;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  
  .upload-button {
    font-size: 1.5em;
    &:hover {
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      color: #999;
    }
  }

  .bio {
    padding-top: 70px;
    padding-left: 10px;
    float: left;
    color: white;
  }
  
  /* How Are You Feeling  */
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

  $gray-light: #dbe1e6;
  $gray-lighter: #e7ebee;
  $gray-subtle: #f3f5f7;
  $text: #555;
  $text-dark: #2b3535;
  
  /* Begin reset */
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  /* End reset */
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: $text-dark;
    margin-bottom: 32px;
  }
  
  .container{
    padding:   10px 20px 130px 20px;
    max-width: 779px;
    text-align: center;
    @media (min-width: 768px) {
      padding: 1px 30px 130px 30px;
    }
  }
  
  .pain-scale {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
  
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      top: 45px;
      left: 0;
      background-color: $gray-light;
    }
  
    &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      top: 45px;
      right: 0;
      background-color: $gray-light;
    }
  
    &__level {
      display: inline-block;
      position: relative;
      width: 10%;
      height: 45px;
      background: $gray-lighter;
      transition: all 0.2s ease;
      cursor: pointer;
      z-index: 1;
  
      &--1,
      &--selected.pain-scale__level--1 {
        background-color: #fcc419;
      }
  
      &--active.pain-scale__level--2,
      &--selected.pain-scale__level--2 {
        background-color: #f8ae1d;
      }
  
      &--active.pain-scale__level--3,
      &--selected.pain-scale__level--3 {
        background-color: #f5a01f;
      }
  
      &--active.pain-scale__level--4,
      &--selected.pain-scale__level--4 {
        background-color: #f39122;
      }
  
      &--active.pain-scale__level--5,
      &--selected.pain-scale__level--5 {
        background-color: #f08224;
      }
  
      &--active.pain-scale__level--6,
      &--selected.pain-scale__level--6 {
        background-color: #ed7427;
      }
  
      &--active.pain-scale__level--7,
      &--selected.pain-scale__level--7 {
        background-color: #ea6529;
      }
  
      &--active.pain-scale__level--8,
      &--selected.pain-scale__level--8 {
        background-color: #e7562b;
      }
  
      &--active.pain-scale__level--9,
      &--selected.pain-scale__level--9 {
        background-color: #e5482e;
      }
  
      &--active.pain-scale__level--10,
      &--selected.pain-scale__level--10 {
        background-color: #e03131;
      }
  
      &--blink {
        animation: fade 0.2s ease;
      }
  
      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
  
      &:first-child {
        border-top-left-radius: 5px;
      }
  
      &:last-child {
        border-top-right-radius: 5px;
      }
    }
  
    &__number {
      display: block;
      width: 100%;
      position: absolute;
      top: 45px;
      left: 0;
      height: 32px;
      padding-top: 5px;
    }
  }
  
  .legend {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
  
    &__beginning {
      position: absolute;
      left: 0;
      top: 30px;
  
      @media (min-width: 768px) {
        transform: translatex(-50%);
      }
    }
  
    &__end {
      position: absolute;
      right: 0;
      top: 30px;
      @media (min-width: 768px) {
        transform: translatex(50%);
      }
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
    }
  }
  /* Human Body */
  
  .human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
    float: center;
    svg {
      &:hover {
        cursor: pointer;
        path {
          fill: #c21616;
        }
      }
      position: absolute;
      left: 50%;
      fill: #35a0ad;
      &.head {
        margin-left: -28.5px;
        top: -6px;
      }
      &.shoulder {
        margin-left: -53.5px;
        top: 69px;
      }
      &.arm {
        margin-left: -78px;
        top: 112px;
      }
      &.cheast {
        margin-left: -43.5px;
        top: 88px;
      }
      &.stomach {
        margin-left: -37.5px;
        top: 130px;
      }
      &.legs {
        margin-left: -46.5px;
        top: 205px;
        z-index: 9999;
      }
      &.hands {
        margin-left: -102.5px;
        top: 224px;
      }
    }
  }
  
  #area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
    #data {
      color: black;
    }
  }
.headerRow {
  background-image: url("https://ak8.picdn.net/shutterstock/videos/12587588/thumb/1.jpg");

  // background: #35a0ad;  /* fallback for old browsers */
  
}